h6 {
  font-size: 11px;
}
h5 {
  font-size: 12px;
}
h4 {
  font-size: 18px;
}
.default-input {
  float: left;
  width: 205px;
  height: 28px;
  padding: 0 9px;
  font-size: 12px;
  box-shadow: none;
  border: 1px solid #d0d0d0;

  &--invalid {
    border-color: #cc0000;
  }
}
.v-middle {
  vertical-align: middle;
}
.button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;

  img {
    vertical-align: middle;
  }
  &--invalid {
    background-color: #cccccc !important;
    cursor: none;
    pointer-events: none;
  }
  &--login {
    background-color: #53b5e7;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
  }
  &--facebook {
    width: 167px;
    height: 27px;
    margin-top: 20px;
    border-radius: 25px;
    background: url("/assets/images/bg-facebook.png");
    text-align: left;
    padding-left: 12px;
    margin-bottom: 20px;

    .button__icon {
      height: 17px;
      margin-top: 2px;
    }
    .button__sep {
      height: 20px;
      margin: 0 6px;
    }
    .button__text {
      vertical-align: middle;
    }
  }
  &--twitter {
    width: 167px;
    height: 27px;
    border-radius: 25px;
    background: url("/assets/images/bg-twitter.png") no-repeat;
    text-align: left;
    padding-left: 7px;

    .button__icon {
      height: 13px;
      margin-top: 2px;
    }
    .button__sep {
      height: 20px;
      margin: 0 6px 0 2px;
    }
    .button__text {
      vertical-align: middle;
    }
  }
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}