body {
  background: #e2e2e2;
  font-family: Arial, sans-serif;
  font-size: 14px;

  ul { list-style: none; }
  a {
    text-decoration: none !important;
    outline: none !important;
    color: #53b5e7;
  }
}
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;
}
.container {
  max-width: $mobile-breakpoint;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  margin: 15px 0;
}
.box {
  background-color: white;
  padding: 20px 5px;
  margin-bottom: 20px;

  &__forgotPass {
    position: absolute;
    top: calc(50% - 7px);
    left: 110px;

    & + .default-input {
      padding-right: 100px;
    }
  }
  &--register {
    .box__title--login {
      display: none;
    }
    .box__title--register {
      display: block;
    }
  }
  &__title {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;

    &--register {
      display: none;
    }
  }
  &__dataContent {
    position: relative;
    overflow: hidden;
    padding: 0 15px;

    &--video {
      cursor: pointer;

      &:hover {
        .box__playIcon {
          opacity: .9;
        }
      }
    }
  }
  &__data {
    position: relative;
  }
  &__orLine {
    position: absolute;
    background-color: #eaeaea;
    height: 100%;
    width: 1px;
    height: 220px;
    left: -30%;
  }
  &__orText {
    position: absolute;
    background-color: white;
    padding: 5px;
    top: calc(40% + 10px);
    left: -38%;
    z-index: 1;
    font-size: 18px;
  }
  &__remember {
    margin-top: 6px;
  }
  &__input {
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-top: 30px;
      max-width: 205px;
    }
  }
  &__playIcon {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    opacity: .7;
    transition: opacity .5s;
    cursor: pointer;
  }
  &__videoImg {
    width: 100%;
  }
  &__validation {
    margin-left: 15px;
    margin-top: 7px;
    float: left;
    display: none;

    &--valid {
      color: #339900;
    }
    &--invalid, &--invalidEmail, &--invalidPass, &--invalidEmailFound {
      color: #cc0000;
    }
    &--active {
      display: block;
    }
  }
  &__validationImg {
    margin-right: 8px;
  }
  &__validationText {
    display: inline-block;
  }
}
.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(black, .4);
  z-index: 2;
  transition: all .5s;

  &--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    .popup__box {
      transform: translate(-50%, -50%);
    }
  }
  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    //background-color: white;
    padding: 40px 20px 20px;
    transform: translate(-50%, -60%);
    transition: all .5s;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    cursor: pointer;
  }
}