@media (max-width: $mobile-breakpoint) {
  .box{
    &__data {
      overflow: hidden;
      width: 100%;

      &--social {
        text-align: center;
      }
    }
    &__forgotPass {
      top: 9px;
      right: 15px;
      left: auto;
    }
    &__input {
      width: 100%;

      &:last-of-type {
        max-width: inherit;
      }
    }
    &__orContent {
    }
    &__orLine {
      position: relative;
      display: block;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: 20px;
      float: left;
    }
    &__orText {
      left: calc(50% - 12px);
      top: 5px;
    }
  }
  .default-input {
    width: 100%;
  }
  .popup {
    &__box {
      width: 100%;
      padding: 40px 15px 15px;
    }
    #youtube {
      width: 100%;
      height: 51vw;
    }
  }
}